*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #8f8fff, #00d4ff);
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}
.todo-app h2 {
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 35px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: #fff;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
}
ul li {
    position: relative;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-color: #fff;
    border-radius: 50%;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #ff5945;
    transition: all 0.3s ease;
}
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
    background-color: #ff5945;
    /* border: 2px solid #fff; */
}
ul li span{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 50%;
    line-height: 40px;
    color: #555;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
ul li span:hover{
    background-color: #edeef0;
}